#carrossel1-Slides{
    width: 80%;
}
#carrossel2-Slides{
    width: 80%;
}
#carrossel3-Slides{
    width: 80%;
}
#carrossel4-Slides{
    width: 80%;
}
hr{
    width: 50%;
    background-color: #070707;
}
body{
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(238, 220, 194);
    background-image:linear-gradient(to top,rgb(28, 156, 139),rgb(25, 158, 96),rgb(2, 150, 2));
}
p{
    text-align: center;
    padding: 10px;
}
h1{
    text-align: center;
}
